{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica con DJango</title>
  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stilo.css' %}">
  
    <script src="{% static 'js/jquery.331.js' %}">
    </script>
    <script src="{% static 'js/popper.min.js' %}">
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}">
    </script>
    
</head>
<body background="{% static 'img/helado_extravagante.jpg' %}">
#Estos son comentarios para hacer pruebas de cambios
  {% include 'includes/head.html' %}


  <!-- barra de navegacion de bootstrap -->


  {% include 'includes/nav.html'%}
  
  {% if alarma %}
  
  <div class="alarma">
      <p>{{ alarma}} </p>
  </div>
  {% endif %}
  {% if user.id is None %}
  <h1 class="resultado">Visitante</h1>
                {% else %}
                <h1 class="resultado">{{ user.username }} </h1>
                {% endif %}

  <!--section principal-->
  {% block content %}
  {% endblock  %}



{% include 'includes/footer.html' %}
  
    
</body>
</html>