{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="row">

      <div class="col-sm">
        <center><h1>Proposito del Sitio web</h1></center>
        <article>
          <center><p> <img class="img2" src="{% static 'img/heladobolas.jpg' %}" alt=""> IbaGelato le ofrece una variedad de deliciosos y nutritivos helados artesanales preparados por manos tolimences con lo cual degustar de helados 100% saludables y de calidad.
          </p></center>
        </article>
        <article>
          <center>
            <p> <img class="img3" src="{% static 'img/bastante.jpg' %}" alt=""> Somos una empresa enfocada en el suministro de heladeria artesanal en la ciudad de ibague y el tolima, Contamos con un amplio catalogo en donde puede encontrar variedad de productos y servicios de calidad, Lo invitamos a realizar un recorrido por el sitio web y ponerse en contacto con nuestros asesores para poder atender a su solicitud. 
            </p>
          </center>
        </article>
      </div>

      <!-- ASIDE dentro del section-->
      <aside class="col-sm">
        <div class="oscuro">
          <h3><img class="face" src="{% static 'img/facebook.jpg' %}" alt="">Visitanos en <a href="https://www.facebook.com/">Facebook</a></h3>
          <p>Visitanos en facebook para que hagas parte del grupo de amigos que prefieren los helados artesanales de IbaGelato
          </p>

        </div>

        
        <aside class="col-sm">
          <div class="oscuro">
            <h3> <img class="face" src="{% static 'img/instagram.png' %}" alt="">Visitanos en  <a href="https://www.instagram.com/">Instagram</a> </h3>
            <p>Siguenos en instagram para que veas espectaculares fotografias y demas contenido multimedia de nuestros productos y sus diferentes puntos de atencion y ademas, participa por promociones
            </p>
          </div>
        </aside>

        <aside class="col-sm">
          <div class="oscuro">
            <h3> <img class="face" src="{% static 'img/twitter.jpg' %}" alt="">Visitanos en <a href="https://twitter.com/">Twitter</a> </h3>
            <p>Siguenos en twitter y comenta activamente las ultimas novedades que tenemos para ti en IbaGelato
            </p>
          </div>
        </aside>
      </aside>

    </div>
  </div>
</section>



{% endblock  %}


