{% extends 'base.html' %}
{% load static %}

{% block content %}



    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <h5><center>Categoria 1</center></h5>
                    <article>
                        <p> <img class="img6" src="{% static 'img/heladobolas.jpg' %}" alt=""> 
                            IbaGelato tiene a su disposicion un gran variedad de platos de helado los cuales pueden ser apropiados para un postre luego de la cena o una perfecta entrada antes de merendar. 
                        </p>
                    </article>
                    <article>
                        <p>Contactese por los diferentes medios que ofrece IbaGelato para que un asesor le brinde informacion completa sobre esta categoria y pueda adquirir los productos de IbaGelato en cualquier momento.
                        </p>
                    </article>
                </div>
                <aside class="col-sm">
                    <div class="oscuro">
                        <center>
                            <h1>Platos</h1>
                        </center>
                        <p>Tenemos con decoracion de platos de helados cumpliendo estandares de diseño y presentacion de cualquier plato con helado.
                        </p>

                    </div>
                    <aside class="col-sm">
                        <div class="oscuro">
                            <center>
                                <h1>Toppings</h1>
                            </center>
                            <p>Contamos con variedad de dulceria(Toppings) para que los pueda adicionar a cuaquiera de los platos.
                            </p>
                        </div>
                    </aside>
                </aside>

            </div>
        </div>
    </section>

    {% endblock  %}