{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <h5><center>Bebidas con Helado</center></h5>
                    <article>
                        <p> <img class="img6" src="{% static 'img/descarga.jfif' %}" alt=""> IbaGelato 
                            cuenta con productos liquidos a hechos a base de helado artesanal, IbaGelato cuenta con bebidas variedad de bebidas que permiten refrescarse manteniendo el sabor del helado artesanal. 
                        </p>
                    </article>
                    <article>
                        <p>Contactese por los diferentes medios que ofrece IbaGelato para que un asesor le brinde informacion completa sobre esta categoria y pueda adquirir los productos de IbaGelato para cualquier evento.
                        </p>
                    </article>
                </div>
                <aside class="col-sm">
                    <div class="oscuro">
                        <center>
                            <h1>Bebidas clasicas</h1>
                        </center>
                        <p>Bebidas clasicas hechas 100% a base de helado artesanal con las que puedes disfrutar con tu familia y amigos en cualquier momento.
                        </p>

                    </div>
                    <aside class="col-sm">
                        <div class="oscuro">
                            <center>
                                <h1>Bebidas con alcohol</h1>
                            </center>
                            <p>Las bebidas de helado con alcohol contienen un bajo grado de alcohol lo cual las hace perfectas para darle un toque de intensidad a cualquier evento empresarial. 
                            </p>
                        </div>
                    </aside>
                </aside>

            </div>
        </div>
    </section>
{% endblock  %}