{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <img  class="img7"   src="images1/descarga.png" alt="">
                    
                   
                    
                </div>
                <aside class="col-sm">
                    <div class="oscuro">
                        <center>
                            <h1>Misión</h1>
                        </center>
                        <p>Somos una empresa de comercializacion de helados artesanales y de todo tipo de platos con helado: confiable, eficiente, etica e innovadora; orientada a satisfacer las necesidades
                             y aspiraciones de nuestros clientes, estableciendo relaciones de proveedores y consumidores a largo plazo.
                        </p>

                    </div>
                    
                </aside>

            </div>
        </div>
    </section>
{% endblock  %}
    