{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <h5><center>Eventos </center></h5>
                    <article>
                        <p> <img class="img6" src="{% static 'img/eventos.jpg' %}" alt=""> IbaGelato dispone de servicios enfocados en la logistica y ejecucion de eventos publicos y privados en donde principalmente nos enfocamos en el suministro de heladosartesanales a los asistentes de dichos eventos o segun autorizacion de la persona encargada. 
                        </p>
                    </article>
                    <article>
                        <p>Contactese por los diferentes medios que ofrece IbaGelato para que un asesor le brinde informacion completa sobre este servicio y pueda contratar a IbaGelato para cualquier evento.
                        </p>
                    </article>
                </div>
                <aside class="col-sm">
                    <div class="oscuro">
                        <center>
                            <h1>Eventos</h1>
                        </center>
                        <p>Contamos con protocolos adaptables a eventos de calidad en el contexto empresarial con amplia experiencia en el desarrollo de dichos eventos, ademas contamos con una acreditacion de calidad e higiene de ICONTEC.
                        </p>

                    </div>
                    <aside class="col-sm">
                        <div class="oscuro">
                            <center>
                                <h1>Infantil</h1>
                            </center>
                            <p>El servicio infantil cuenta con decoraciones que se ajustan a la edad y preferencias de los mas pequeños.
                            </p>
                        </div>
                    </aside>
                </aside>

            </div>
        </div>
    </section>

    {% endblock  %}