{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <h5><center>Servicio 2</center></h5>
                    <article>
                        <p> <img src="" alt=""> Con nosotros puedes realizar compras al por mayor y al detal de todos y cada uno de nuestros productos y servicios.
                        </p>
                    </article>
                    <article>
                        <p>En IbaGelato puede encontrar el servicio de compra al por mayor y por unidades, este servicio permite que podamos suministrar de manera multiple los productos y las cantidades requeridas por nuestros clientes, Con IbaGelato puede contar para realizar compras al por mayor con acuerdos de pago prolongado para ayudar a los pequeños emprendedores que se involucran en el comercio de heladeria.
                        </p>
                    </article>
                </div>
                <aside class="col-sm">
                    <div class="oscuro">
                        <center>
                            <h1>Por mayor</h1>
                        </center>
                        <p><img  class="img5" src="images1/pormayor2.jpg" alt="">Nuestras productos estan disponibles en cantidades al por mayor a costos menores con el proposito de apalancar los emprendimientos que desean comerciar con la industria de los helados. 
                        </p>

                    </div>
                    <aside class="col-sm">
                        <div class="oscuro">
                            <center>
                                <h1>Unidades</h1>
                            </center>
                            <p><img  class="img5" src="images1/detal.jpg"">Nuestros productos tambien son ofrecidos por unidades en todos los puntos de atencion dispuestos en la ciudad de ibague y en algunos municipios del tolima.
                            </p>
                        </div>
                    </aside>
                </aside>

            </div>
        </div>
    </section>

 {% endblock  %}