{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <img   class="img7" src="{% static 'img/vision.jpg' %}" alt="">
                </div>
                <aside class="col-sm">
                    <div class="oscuro2">
                        <center>
                            <h1>Vision</h1>
                        </center>
                        <p>Posicionarse como la empresa productora, comercializadora y distribuidora de helados artesanales con mayor reconocimiento en el mercado local y nacional, brindando un alto nivel de calidad en el producto y en el servicio, para brindarle una total satisfaccion a nuestros clientes.</p>

                    </div>
                    
                </aside>

            </div>
        </div>
    </section>

{% endblock  %}